@import 'tailwindcss';

@import 'https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css';

@theme {
  --font-sans: 'Pretendard Variable', sans-serif;
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-20px);
  }
}

@utility slide-out-left {
  animation: slide-out 0.2s ease forwards;
}

html {
  padding: 10px;
}
body {
  font-family: var(--font-sans);
}
